@media screen and (min-width: 340px) {
    #navbarResponsive {
        background-color: blue;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    #navbarResponsive {
        background-color: red;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 980px) {
    #navbarResponsive {
        background-color: greenyellow;
        display: flex;
        flex-direction: row;
    }
}

.navbar-brand {
    background-color: #7733ff;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    padding: 10px;
    margin: -8px;

}



/* Body and container elements */

body {
    background: linear-gradient(to right, #7733ff,#ccb3ff);
  }

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1100');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}  

/* Sticky Footer Classes */


.py-5 {
    height: 5px;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
