@media screen and (min-width: 320px) {
    #navbarResponsive {
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    #navbarResponsive ul li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-brand {
        margin-left:auto !important;
        margin-right:auto !important;
        float: center;
    }
    .img-fluid {

    }

.ml-auto {
    margin-left:auto !important;
    margin-right:auto !important;
}

    #navbarResponsive ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #navbarResponsive ul li {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media screen and (min-width: 768px) {
    #navbarResponsive {
        display: flex;
        flex-direction: row;
    }

    .ml-auto {
        margin-left:auto !important;
        margin-right: 10px !important;
    }
}

@media screen and (min-width: 980px) {
    #navbarResponsive {
        display: flex;
        flex-direction: row;
    }

    .ml-auto {
        margin-left:auto !important;
        margin-right: 10px !important;
    }
}

.navbar-brand {
    background-color: #7733ff;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    padding: 10px;
    margin: -8px;
}


/* Body and container elements */

body {
    background: linear-gradient(to right, #7733ff,#ccb3ff);
  }

.mainContent {
    overflow: hidden;
    height: 100vh;
    min-height: 500px;
    padding-top: 20px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1100');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}  


.block-header {
    font-family: 'Indie Flower', cursive;
    color: #7733ff;
}

.block {
    background-color: white;
    border: 1px solid rgb(218, 218, 218);
    padding: 20px;
}

.aboutImg {
    width: 200px; 
    height:200px;
    float: left;
    margin: 0 20px 10px 0;
}

.imgResponsive {
    width: 200px; 
    height: 200px;
    float: left;
    margin: 0 20px 10px 0;
}

.post-content {
    background: none repeat scroll 0 0 #FFFFFF;
    opacity: 0.5;
    margin: -60px 0 0 0; 
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    line-height: 10px;;
}

/* Sticky Footer Classes */


.py-5 {
    border-top: 5px solid linear-gradient(to right, #7733ff,#ccb3ff);
    height: 5px;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

